* {
  margin: 0;
  padding: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background: #574744;
}

.box {
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat {
  display: flex;
  /* flex-flow: row wrap; */
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .chat-message {
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}

.friend .chat-message {
  background: #A29C9B;
}

.self .chat-message {
  background: #574744;
  order: -1;
}

.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.chat-form input {
  background: #fbfbfb;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.chat-form input:focus {
  background: #fff;
}

.chat-form input::-webkit-scrollbar {
  width: 10px;
}

.chat-form input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .1);
}

.chat-form button {
  background: #574744;
  padding: 5px 15px;
  width: 50%;
  resize: none;
  text-align: center;
  font-size: 30px;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 black;
  cursor: pointer;
  align-items: center;
  -webkit-transaction: background .2s ease;
  -moz-transaction: backgroud .2s ease;
  -o-transaction: backgroud .2s ease;
}

.chat-form button:hover {
  background: green;
}

.counters {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  height: 50px;
}

.counters p{
  padding: 10px;
  width: 50%;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #574744;
}

.codebox {
  padding: 10px;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.codebox input{
  padding: 10px;
  width: 100%;
  height: 400px;
  background: #fbfbfb;
  border: 2px solid #eee;
  border-radius: 3px;
  size: 2000;
  font-size: 18px;
  color: #333;
  display: flex;
}

.codebox input::-webkit-scrollbar {
  width: 10px;
}

.codebox input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content textarea {
  background: #fbfbfb;
  width: 100%;
  height: 200px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.modal-content textarea:focus {
  background: #fff;
}

.modal-content textarea::-webkit-scrollbar {
  width: 10px;
}

.modal-content textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .1);
}
